* {
    padding: 0%;
    margin: 0%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.mainContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60vh;
    width: 60vw;
}

.one,
.two,
.three {
    height: 100%;
    width: 17vw;
    padding: 2rem;
}

.one {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.two {
    background-color: hsl(184, 100%, 22%);
}

.three {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.heading {
    font-family: Big Shoulders;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.content {
    line-height: 1.4rem;
    font-family: Lexend Deca;
    font-weight: 400;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    height: 2.5rem;
    width: 8rem;
    font-family: Lexend Deca;
    font-weight: 400;
    border-radius: 50px;
    border: none;
    margin-top: 7rem;
}

button:focus {
    border: 1px solid hsl(0, 0%, 95%);
    cursor: pointer;
}

.one button {
    color: hsl(31, 77%, 52%);
}

.two button {
    color: hsl(184, 100%, 22%);
}

.three button {
    color: hsl(179, 100%, 13%);
}

.one button:focus {
    background-color: hsl(31, 77%, 52%);
    color: white;
}

.two button:focus {
    background-color: hsl(184, 100%, 22%);
    color: white;
}

.three button:focus {
    background-color: hsl(179, 100%, 13%);
    color: white;
}

@media (max-width:600px) {
    body {
        height: 100%;
    }

    .mainContainer {
        flex-direction: column;
        height: auto;
        width: 90vw;
        padding: 2rem;
    }

    .one,
    .two,
    .three {
        width: 80%;
    }

    .one {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: none;
        border-bottom-left-radius: none;

    }

    .three {
        border-top-right-radius: none;
        border-bottom-left-radius: 0.5rem;


    }
}